.card {
  max-width: 300px;
  min-height: 400px;
  max-height: 400px;
  padding: 15px 25px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--ecart-main-text-color);
}

.card:hover {
  border: 0.5px solid var(--ecart-btn-bg-color);
}

.image {
  max-width: 150px;
  max-height: 100px;
  pointer-events: none;
}

.productName {
  font-weight: bold;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
  margin-right: 1rem;
}

.nameReviewContainer {
  margin: 1rem 0rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.descriptionContainer {
  max-width: 250px;
  max-height: 110px;
  text-overflow: clip;
  white-space: break-spaces;
  overflow: hidden;
}

.price {
  font-weight: bold;
  margin: 1rem;
}

.buyBtn {
  background-color: var(--ecart-btn-bg-color) !important;
  border: transparent !important;
  width: 120px !important;
  height: 45px !important;
}

.buyBtn:hover {
  background-color: var(--ecart-btn-bg-hover) !important;
}

.buyBtn:focus {
  box-shadow: unset !important;
}
