.dpdMenu {
  position: absolute;
  min-width: 9rem;
  max-height: fit-content;
  padding: 5px 5px;
  background-color: var(--ecart-secondary-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;

  &:focus-within {
    outline: none;
  }

  .optionsList {
    list-style-type: none;
    padding: 0px;

    .option {
      padding: 3px 3px;

      &:focus-within {
        a {
          outline: none;
        }
      }

      &:hover {
        cursor: pointer;
        border: 1px solid var(--ecart-main-text-color);
      }

      &:visited {
        color: unset;
      }

      .optionLink {
        color: var(--ecart-main-text-color);
        text-decoration: none;
      }
    }
  }
}
