.dpdMenu {
  position: absolute;
  min-width: 5rem;
  max-height: fit-content;
  padding: 5px 5px;
  background-color: var(--ecart-secondary-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.optionsList {
  list-style-type: none;
  padding: 0px;
}

.option {
  padding: 3px 3px;
}

.optionLink {
  color: var(--ecart-main-text-color);
  text-decoration: none;
}

.option:hover {
  cursor: pointer;
  border: 1px solid var(--ecart-main-text-color);
}

.option:visited {
  color: unset;
}
