.infoSection {
  min-width: 20rem;
  min-height: 10rem;
  max-height: 15rem;
  padding: 1rem 1rem;
  border: 5px solid var(--ecart-border-color);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
