.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--ecart-main-text-color);
  position: relative;

  &:hover{
    cursor: pointer;
  }

  .icon {
    top: 0;
    margin-left: 0.5rem;
    margin-top: 0.4rem;
  }
}