.nav {
  width: 100%;
  height: 3rem;
  background-color: var(--ecart-secondary-bg-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px;
  min-width: fit-content;


  .link {
    color: var(--ecart-main-text-color);
    text-decoration: none;
    margin-right: 1rem;
    display: flex;
    align-items: center;

    &.divLink{
      cursor: pointer;
      user-select: none;
    }
  }
}