.footer {
  background-color: var(--ecart-secondary-bg-color);
  color: var(--ecart-main-text-color);
  padding: 0.1rem;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer h3 {
  margin: 0;
  font-size: 1.1rem;
}

.footer a {
  margin: 0 0.5rem;
  display: inline-block;
}

.footer img {
  vertical-align: middle;
}
