spring:
  datasource:
    url: jdbc:postgresql://localhost:5434/eProductServiceDB
    username: root
    password: toor
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.xml
  jpa:
    open-in-view: false
    properties:
      hibernate:
        default_schema: public
  rabbitmq:
    publisher-confirm-type: correlated
    publisher-returns: true

logging:
  level:
    ROOT: INFO
    org.springframework.amqp: DEBUG
    com.midnightsun: DEBUG

server:
  port: 8082

rabbitmq:
  queues:
    ps_queue: product-queue
    ps_reply_queue: reply-product-queue
  exchanges:
    ps_exchange: product-exchange
  routings:
    ps_key: product-routing-key
    ps_reply_key: product-reply-routing-key

global:
  exception-handling:
    debug-message: TRUE

info:
  application:
    name: Product Service
    version: 0.0.1
    description: Service managing products in eCart Application