spring:
  datasource:
    url: jdbc:postgresql://localhost:5434/eProductServiceDB
    username: root
    password: toor
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.xml
  jpa:
    open-in-view: false
    properties:
      hibernate:
        default_schema: public

server:
  port: 8082

info:
  application:
    name: Product Service
    version: 0.0.1
    description: Service managing products in eCart Application